{% extends 'general/base.html' %}
{% block title %}概要{% endblock %}
{% block head %}
<link rel="stylesheet" href="/static/css/about.css">
<meta content="概要 - SevenBot" property="og:title">
<meta content="SevenBotの概要について説明しています。" property="og:description">
<meta name="description" content="SevenBotの概要について説明しています。">
<meta name="metadescription" content="SevenBotの概要について説明しています。">
<meta content="https://sevenbot.jp/about" property="og:url">
<meta content="https://sevenbot.jp/static/images/embed-icon.webp" property="og:image">
<meta content="#00CCFF" data-react-helmet="true" name="theme-color">
{% endblock %}
{% block main %}
<div class="--fade --onload">
    <h1 class="page-title">SevenBotとは？</h1>
    <p><a href="https://github.com/sevenc-nanashi">名無し。（@sevenc-nanashi）</a>が作った<span style="text-decoration: line-through;">超？</span>多機能Discord Botです。</p>
</div>
<div class="--fade --onload">
    <h1>特色は？</h1>
    <p><span style="font-weight: 600">これ一台でサーバーを管理できます！</span><br>開発者が「こんなのあったらいいなぁ」って思っている機能を実装したり、愛用しているサーバーの意見を聞いたりしているので、「あったらいいなぁ」に手が届くようなBotになっています。</p>
    <h2>例えば？</h2>
    <ul id="about-feature">
        <li>
            コマンド無効チャンネル
        </li>
        <li>
            カスタムできるあいさつ
        </li>
        <li>
            グローバルチャット作成
        </li>
        <li>
            伝言機能
        </li>
    </ul>

</div>
<div class="--fade --onload">
    <h1>課金要素はある？</h1>
    <p>プレミアムは「あったらいいけど別になくても使える」位の機能しか無いので、無料でも使えます！</p>
</div>
<div class="--fade --onload">
    <h1>招待したい！</h1>
    <p><a href="/invite">ここ</a>から招待できます！</p>
</div>
{% endblock %}
