<!DOCTYPE html>
<html>

<head is="x-head">
  <title>{% block title %}{% endblock %}{% if self.title().strip() %} - {% endif %}SevenBot</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="/static/images/favicon.ico">
  <link rel="icon" href="/static/images/favicon.ico">
  <link rel="stylesheet" href="/static/css/common.css">
  <link rel="stylesheet" href="/static/css/header.css">
  <link rel="stylesheet" href="/static/css/footer.css">
  <script defer src="/static/js/header.js"></script>
  <script defer src="/static/js/common.js"></script>
  <script defer src="/static/js/loadless.js"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-RV0BBT9CCF"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'G-RV0BBT9CCF');
  </script>
  <!-- reload-area -->
  <!-- block singlehead -->
  {% block singlehead %} {% endblock %}
  <!-- endblock singlehead -->
  <!-- block head -->
  {% block head %} {% endblock %}
  <!-- endblock head -->

</head>

<body>
  <header>
    <div id="header-top">
      <a href="/">
        <picture>
          <source srcset="/static/images/header-icon.webp" type="image/webp" width="269" height="269" alt="SevenBot">
          <img src="/static/images/header-icon.png" id="header-sb-icon" width="269" height="269" alt="SevenBot">
        </picture>
        <span id="site-name">SevenBot</span>
      </a>

      <ul id="menu">
        <li class="menu-content">
          <a href="/support" target="blank">サポートサーバー</a>
        </li>
        <li class="menu-content menu-important">
          <a href="/invite" target="blank">導入する</a>
        </li>
      </ul>
      <div id="header-menu-opener">
        <svg viewBox="0 0 24 24" class="header-menu-opener-svg" id="header-menu-opener-svg-open">
          <path fill="currentColor" d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z" />
        </svg>
        <svg viewBox="0 0 24 24" class="header-menu-opener-svg" id="header-menu-opener-svg-close" style="opacity:0">
          <path fill="currentColor" d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z" />
        </svg>
      </div>
    </div>
    <div id="header-menu">
      <ul id="header-menu-container">
        <li class="header-menu-content">
          <a href="/about">概要</a>
        </li>
        <li class="header-menu-content">
          <a href="/status">ステータス</a>
        </li>
        <li class="header-menu-content">
          <a href="/tutorial">チュートリアル</a>
        </li>
        <li class="header-menu-content">
          <a href="/commands">コマンド</a>
        </li>
        <li class="header-menu-content">
          <a href="/api">Web API</a>
        </li>

        <li class="header-menu-content">
          <a href="/contact">お問い合わせ</a>
        </li>
      </ul>
      <ul id="header-menu-bottom">
        <li class="header-menu-content" style="background: #fff;"><a href="/invite" style="color: var(--sb-theme)" target="blank">招待</a></li>
        <li class="header-menu-content" style="color: #fff;border: 1px solid #fff;box-sizing: border-box;background:transpant;"><a href="/support" target="blank">サポート</a></li>
      </ul>
    </div>
  </header>

  <div id="content">
    <!--main-->
    <block block-name="main">
      {% block main %} {% endblock %} {% if not self.main().strip() %}
      <div class="--fade --onload">
        <h1 class="page-title">お前は知りすぎた</h1>
        <p class="centerp">
          君は見てはいけないものを見てしまった。<br><br> っていう冗談はおいといて、これはサーバーの内部ページだ。
          <br> ヘッダーとかの共通する部分をここに置いてる。
          <br> だからここには何もないよ。
          <br>
          <a href="/">トップに戻る</a>
        </p>
      </div>
      {% endif %}
    </block>
    <!--endmain-->
    <div id="main-blocker"></div>
    <div class="tooltip green" style="display:none;">
      <div class="tooltip-opacity" style="opacity: 1; transform: none;">
        <div class="tooltip-bottom"></div>
        <div class="tooltip-main">
          <div>コピーした！</div>
        </div>
      </div>
    </div>
    <footer>
      <small style="top: 1rem;position: relative;">SevenBot - &copy; 2020 <a href="https://github.com/sevenc-nanashi">名無し。<span id="footer-copyright-pc">（@sevenc-nanashi）</span></a></small>
      <ul id="footer-bottom">
        <li>
          <a href="https://top.gg/bot/718760319207473152" target="blank">
            <img src="https://top.gg/api/widget/status/718760319207473152.svg" alt="SevenBot" width="123" height="20">
          </a>
        </li>
        <li>
          <a href="https://discord.gg/YpgHwz8" target="blank"><img src="https://discordapp.com/api/guilds/715540925081714788/widget.png?style=shield" alt="Discord Shield" width="119" height="20"></a>
        </li>
        <li>
          <a href="/github" target="blank"><img src="https://img.shields.io/github/stars/SevenBot-dev?logo=github&style=flat&color=00ccff&label=Stars" alt="SevenBot-dev stars" width="79" height="20"></a>
        </li>

      </ul>
    </footer>
    <div id="alert-container">
      <div id="google-alert" class="alert">
        当サイトではGoogleアナリティクスを使用しています。<br> これを無効化するには、Cookieを無効にして下さい。
        <br>
        <a href="https://policies.google.com/technologies/ads?hl=ja" target="-blank">詳細はこちら</a><br>
      </div>
      <div id="tk-alert" class="alert">
        SevenBotのサイトはsevenbo.tkからsevenbot.jpへ移行しました。
      </div>
    </div>
  </div>
  <!-- Cloudflare Web Analytics -->
  <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "6d2277dad830449480def73731713d5a"}'></script>
  <!-- End Cloudflare Web Analytics -->
</body>

</html>