{% extends 'general/base.html' %}
{% block title %}コマンド{% endblock %}
{% block head %}
<link rel="stylesheet" href="/static/css/commands.css">
<script defer type="text/javascript" src="/static/js/commands.js"></script>
{% endblock %}
{% block main %}
<div class="--fade">
    <h1 class="page-title">コマンド一覧</h1>
</div>
{% for category in categories %}
<div class="--fade --slideup">
    <h1 class="category" category="{{category['id']}}">{{category["name"]}} - {{category["id"]}}</h1>
    <table class="centerp">
        <thead>
            <tr>
                <td>コマンド名</td>
                <td>説明</td>
                <td>構文</td>
                <td>エイリアス</td>
            </tr>
        </thead>
        <tbody>
            {% for command in category["commands"] %}
            {% if command["parent"] %}
            <tr class="has-parent" parent="{{ command['parent'].replace(' ', '-') }}" name="{{command['name'].replace(' ', '-')}}">
            {% else %}
            <tr name="{{command['name'].replace(' ', '-')}}">
            {% endif %}
            <td onclick="copyLink(this)">{{command["name"]}}</td>
            <td>{% autoescape false %}{{command["desc"]}}{% endautoescape %}</td>
            {% if command["syntax"] %}
            <td><span class="inline-code inline-code2" onclick="copyCommand(this)">{% autoescape false %}{{ command["syntax"] }}{% endautoescape %}</span></td>
            {% else %}
            <td class="empty-td">-</td>
            {% endif %} {% if command["aliases"] %}
            <td>{% for alias in command["aliases"] %}{{ ", " if loop.index != 1 else "" }}<span class="inline-code inline-code2">{{alias}}</span>{% endfor %}</td>
            {% else %}
            <td class="empty-td">-</td>
            {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endfor %}
{% endblock %}