{% extends 'general/base.html' %} {% block title %}コマンドヘルプ{% endblock %} {% block head %}
<link rel="stylesheet" href="/static/css/commands.css">
<link rel="stylesheet" href="/static/css/commands-howto.css"> {% endblock %} {% block main %}
<div>
    <h1 class="page-title">コマンド一覧の見方</h1>
    <section class="syntax-section">
        <div class="syntax-title">必須パラメータ</div>
        <p class="centerp syntax-description"><span class="inline-code"><></span>で囲まれたパラメータは必ず指定する必要があります。</p>
        <table class="centerp">
            <thead>
                <tr id="command-header">
                    <td class="command-header-td example-syntax">構文</td>
                    <td class="command-header-td example-input">入力</td>
                    <td class="command-header-td example-result">結果</td>
                </tr>
            </thead>
            <tbody>
                <tr class="command-tr">
                    <td><span class="inline-code inline-code2"><span class="syntax-command-name">command</span> <span class="syntax-arg-required">&lt;パラメータ1&gt;</span></span>
                    </td>
                    <td><span class="inline-code inline-code2">command テスト</span></td>
                    <td class="example-ok">OK</td>
                </tr>
                <tr class="command-tr">
                    <td><span class="inline-code inline-code2"><span class="syntax-command-name">command</span> <span class="syntax-arg-required">&lt;パラメータ1&gt;</span> <span class="syntax-arg-required">&lt;パラメータ2&gt;</span></span>
                    </td>
                    <td><span class="inline-code inline-code2">command テスト テスト2</span></td>
                    <td class="example-ok">OK</td>
                </tr>
                <tr class="command-tr">
                    <td><span class="inline-code inline-code2"><span class="syntax-command-name">command</span> <span class="syntax-arg-required">&lt;パラメータ1&gt;</span> <span class="syntax-arg-required">&lt;パラメータ2&gt;</span></span>
                    </td>
                    <td><span class="inline-code inline-code2">command テスト</span></td>
                    <td class="example-ng">NG</td>
                </tr>
            </tbody>
        </table>
    </section>
</div>
{% endblock %}