{% extends 'general/base.html' %} {% block title %}内部ページ{% endblock %} {% block head %}
<meta content="{{title}} - SevenBot" property="og:title">
<meta content="{{description}}" property="og:description">
<meta name="description" content="{{description}}">
<meta name="metadescription" content="{{description}}">
<meta content="https://sevenbot.jp" property="og:url">
<meta content="https://sevenbot.jp/static/images/embed-icon.webp" property="og:image">
<meta content="#00CCFF" data-react-helmet="true" name="theme-color"> {%endblock%}{% block main %}
<div class="--fade --onload">
  <h1 class="page-title">お前は知りすぎた</h1>
  <p class="centerp">
    君は見てはいけないものを見てしまった。<br><br> っていう冗談はおいといて、これはサーバーの内部ページだ。
    <br> こっちは埋め込みのためのページ。
    <br> だからここには何もないよ。
    <br>
    <a href="/">トップに戻る</a>
  </p>
</div>
{% endblock %}