{% extends 'general/base.html' %}
{% block title %}ステータス{% endblock %}
{% block head %}
<link rel="stylesheet" href="/static/css/status.css">
{# <script src="https://code.highcharts.com/highcharts.js"></script> #}
<script src="http://code.highcharts.com/stock/highstock.js"></script>

{# <script src="https://code.highcharts.com/modules/series-label.js"></script> #}

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.13/moment-timezone-with-data-2012-2022.min.js">
</script>

<script src="/static/js/status.js" defer></script>
<meta id="flask-passer" data='{{ data }}'>
{% endblock %}
{% block main %}
<h1 class="page-title">ステータス</h1>
<p class="centerp">
    SevenBotのPing（応答速度）・サーバー数・ユーザー数を表示します。<br>
    10分ごとに更新されます。<br>
    また、負荷軽減のため、反映に時間がかかる場合があります。
</p>
<div id="charts-container">
    <div class="chart-container">
        <div id="chart-ping"></div>
    </div>
    <div class="chart-container">
        <div id="chart-guild-user"></div>
    </div>
    <div class="chart-container">
        <div id="chart-guild-vps"></div>
    </div>
    <div class="chart-container">
        <div id="chart-guild-save"></div>
    </div>
</div>
{% endblock %}