{% extends 'general/base.html' %}
{% block title %}鶴橋ナナ{% endblock %}
{% block head %}
<link rel="stylesheet" href="/static/css/tnana.css">
{% endblock %}
{% block main %}
<div class="page-title">鶴橋ナナについて</div>
<section id="top-container">
  <picture>
    <source srcset="/static/images/tnana.webp" type="image/webp">
    <img src="/static/images/tnana.png" id="tnana-main">
  </picture>
  <p class="centerp">
    鶴橋ナナはSevenBotの公式キャラクターです。<br>
    条件を守れば自由に使えます。
  </p>
</section>
<section id="license">
  <h1 class="license-header">ライセンス</h1>

  <h2 class="license-header">始めに</h2>
  <p class="centerp">
    鶴橋ナナを使って何かを作るとき（例：イラスト、3Dモデル）にはこのライセンスにしたがって下さい。<br>
    このライセンスはNanaLicenseという名前です。
  </p>

  <h2 class="license-header">禁止事項</h2>
  <div class="centerp">
    <ul>
      <li>商用利用</li>
      <li>Botの評判を落とす行為</li>
      <li>常識の範囲外の利用</li>
      <li>他、オーナーが不適切と認めた行為</li>
    </ul>
  </div>

  <h2 class="license-header">必須事項</h2>
  <div class="centerp">
    <h3 class="license-header">テキストの表記</h3>
    イラストの隅や説明欄などのどこかにこの文章を入れて下さい：
    <div class="quote">
      鶴橋ナナ - SevenBot公式キャラクター<br>
      https://sevenbot.jp/tnana
    </div>
  </div>
  <h2 class="license-header">免責事項</h2>
  <div class="centerp">
    オーナーは鶴橋ナナ関連で起きた不都合に関しては一切の責任を負わないものとします。<br>
  </div>
</section>
{% endblock %}