.textbox {
  border: var(--interactive-muted) 1px solid;
  border-radius: 3px;
  appearance: none;
  background: var(--deprecated-text-input-bg);
  margin-bottom: 4px;
  transition: border 0.25s;
  resize: none;
  height: calc(100% - 1rem);
  width: calc(100% - 0.5rem);
  margin: 0;
  display: block;
  font-family: var(--default-font);
  font-weight: 100;
  color: var(--text-normal);
}


.textbox:focus,
.textbox:active {
  appearance: none;
  border: var(--discord-theme) 1px solid;
  outline: none;

}

thead tr td {
  background-color: var(--interactive-muted);
  text-align: center
}

thead tr td:first-child {
  border-top-left-radius: 0.25rem;
}

thead tr td:last-child {
  border-top-right-radius: 0.25rem;
}

tbody tr td {
  background-color: var(--background-secondary-alt);
  padding: 4px;
  position: relative;
}

tbody tr:last-child td:first-child {
  border-bottom-left-radius: 0.25rem;
}

tbody tr:last-child td:last-child {
  border-bottom-right-radius: 0.25rem;
}

tfoot tr td {
  border-radius: 0.25rem;
}

#loading {
  text-align: center;
  position: relative;
  top: 4rem;
  font-size: 1.5rem;
}

#main {
  display: none
}

#server-title {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
}

section {
  background: var(--background-secondary);
  border-radius: 1rem;
  padding: 1rem;
  width: 80%;
  margin: auto;
  margin-bottom: 1rem;
}

.section-title {
  font-size: 1.5rem;
  text-align: center;
}

aside {
  width: 20%;
  position: fixed;
  padding-top: var(--header-height);
  padding-bottom: 128px;
  width: 20%;
  min-height: 100vh;
  left: 0;
  box-sizing: border-box;
  top: 0;
  background: var(--background-secondary);
  --top-bar-height: 4rem;
}

block[block-name="main"] {
  width: 80%;
  display: block;
  left: 20%;
  position: relative;
}

aside ul {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  top: var(--top-bar-height);
  margin-top: 0.5rem;
  position: relative;
}

.sidebar-li {
  list-style: none;
  border-radius: 0.3rem;
  --sidebar-color: var(--text-muted);
}

.sidebar-li:hover {
  background-color: var(--background-modifier-hover);
}

.sidebar-li.current{
  background-color: var(--background-modifier-active);
  --sidebar-color: var(--interactive-active);
}

.sidebar-li::before {
  content: "";
  display: inline-block;
  mask-image: var(--icon);
  height: 1.8rem;
  width: 1.8rem;
  position: relative;
  /*! top: 0.6rem; */
  background: var(--text-muted);
  mask-size: cover;
}

.sidebar-li span {
  font-size: 1rem;
  position: relative;
  bottom: 0.4rem;
  color: var(--sidebar-color)
}



#sidebar-top {
  position: fixed;
  top: var(--header-height);
  left: 0;
  width: 20%;
  height: var(--top-bar-height);
  z-index: 2;
  border-bottom: var(--interactive-muted) 1px solid;
}

#sidebar-top img {
  height: calc(var(--top-bar-height) - 1rem);
  margin: 0.5rem;
  border-radius: 2rem;
}

#sidebar-top div {
  margin: auto 0;
  position: absolute;
  top: 1.25rem;
  left: 4rem;
  font-size: 1.25rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  right: 0;
}

#save-container {
  text-align: center;
  width: 60%;
  margin: 2rem auto;
}

.save-button{
  width: 50%;
  background: var(--background-accent);
  padding: 0.5rem;
  color: #fff;
  margin: auto;
  border-radius: 4px;
  cursor: pointer;
  transition: opacity 0.5s;
}

.save-button.disabled {
  opacity: 0.5;
}

.table-error-bg td{
  background-color: var(--info-danger-background);
}

.table-error textarea,
.table-error input {
  border: var(--info-danger-foreground) 1px solid;
}

#sidebar-top div{
  color: var(--text-normal)
}