{% extends 'dashboard/base.html' %}
{% set is_manage = true %}

{% block title %}{% block name %}{% endblock %}{% endblock %}
{% block head %}
<link rel="stylesheet" href="/static/css/manage/common.css">
<script src="/static/js/manage/common.js" defer></script>
<meta id="flask-passer" content="{{data}}">
{% endblock %}
{% block main %}
<div id="server-title">{{ self.name() }}を編集</div>
<div id="loading" class="loading">読み込み中...</div>
<div id="main">
  {% block content %}
  {% endblock %}
  </section>
</div>
{% endblock %}