{% extends 'dashboard/base.html' %}
{% block title %}管理{% endblock %}
{% block head %}
<link rel="stylesheet" href="/static/css/manage.css">
<script src="/static/js/manage.js" defer></script>
<meta id="flask-passer" content="{{data}}">
{% endblock %}
{% block main %}
<div id="server-title">{{raw_data.guild.name}} を管理</div>
<div id="loading">読み込み中...</div>
<div id="main">
    
    <section>
        <div class="section-title">自動返信</div>
    <table class="centerp" id="autoreply-table">
        <thead>
            <tr id="autoreply-header">
                <td class="autoreply-id">ID</td>
                <td class="autoreply-target">返信対象</td>
                <td class="autoreply-reply">返信内容</td>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>
    <template id="autoreply-template">
        <tr reply-id="" class="command-tr">
            <td class="autoreply-id"><span class="inline-code inline-code2"></span></td>
            <td class="autoreply-target"><textarea class="textbox" placeholder="こんにちは"></textarea></td>
            <td class="autoreply-reply"><textarea class="textbox" placeholder="こんばんは！（）"></textarea></td>
        </tr>
    </template>
</section>
</div>
{% endblock %}