.inline-code * {
  font-family: var(--monospace-font)
}

thead tr td {
  background-color: var(--interactive-muted);
  text-align: center
}

#command-header .command-name {
  border-top-left-radius: 3px
}

#command-header .command-aliases {
  border-top-right-radius: 3px
}

tbody tr td {
  background-color: var(--background-secondary-alt);
  padding: 4px;
  position: relative
}

.expand-tr td {
  padding: 1px
}

.command-name {
  width: 20%
}

.command-syntax {
  width: 25%;
  cursor: pointer;
  word-break: keep-all
}

.command-syntax:hover .syntax-arg-type {
  display: inline
}

.command-aliases {
  width: 15%
}

tbody tr:last-child td:nth-child(1) {
  border-bottom-left-radius: 3px
}

tbody tr:last-child td:nth-child(4) {
  border-bottom-right-radius: 3px
}

.empty-td {
  text-align: center
}

.empty {
  color: var(--text-muted);
  pointer-events: none;
  transform: scaleX(400%)
}

.inline-code * {
  font-family: var(--monospace-font)
}

.syntax-prefix {
  color: #859900
}

.syntax-command-name {
  color: #b58900
}

.syntax-arg-required {
  color: #268bd2
}

.syntax-arg-optional {
  color: #2aa198
}

.more {
  position: absolute;
  right: .5rem;
  bottom: .25rem;
  user-select: none;
  cursor: pointer
}

.more::after {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 2rem;
  width: 2rem
}

.datail {
  display: none
}

h1 {
  text-align: center
}

.expand-tr {
  height: calc(1rem + 2px);
  position: relative
}

.expand-tr td {
  position: relative;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  cursor: pointer;
  background-color: var(--background-secondary-alt);
  text-align: center
}

.has-parent.expand-tr td {
  background-color: var(--background-secondary)
}

.has-parent {
  display: none
}

.has-parent td {
  background-color: var(--background-secondary)
}

.syntax-arg-type {
  display: none
}

@media(max-width: 850px) {
  thead {
    display: none
  }

  table {
    width: 80% !important;
    overflow: hidden;
  }

  tr {
    border-bottom: 8px solid transparent
  }

  tr:not(.expand-tr) td {
    width: 100% !important
  }

  td {
    display: block;
    margin-bottom: 3px;
    border-radius: 0
  }

  td:nth-child(1) {
    background-color: var(--interactive-muted);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px
  }

  tr.has-parent td:nth-child(1) {
    background-color: var(--background-secondary-alt)
  }

  td:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px
  }

  .expand-tr td {
    height: 1rem;
    width: 100%;
  }

  .expand-tr td svg {
    position: relative;
    bottom: 25%
  }

  .pinged td:nth-child(1) {
    background-color: var(--background-mentioned-hover)
  }

  .pinged td:not(:nth-child(1)) {
    background-color: var(--background-mentioned)
  }
}

.pinged td {
  background: var(--background-mentioned)
}

.pinged:hover td {
  background: var(--background-mentioned-hover)
}