@media (prefers-color-scheme: light) {
    * {
        --status-tooltip-color: #ffffffe3;
        --status-x-axis-color: #18191c10;
    }
}

@media (prefers-color-scheme: dark) {
    * {
        --status-tooltip-color: #18191ce3;
        --status-x-axis-color: #ffffff10;
    }
}

#charts-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: calc(100% - 24px);
    position: relative;
    left: 12px;
}

.chart-container {
    background: var(--background-secondary);
    padding: 12px;
    border-radius: 5px;
    margin: 12px;
    min-width: 0;
    /* overflow: scroll; */
}


/*  */


/* .highcharts-background {
    fill: #f2f3f5;
} */