* {
    font-family: Whitney, hiragino sans, ヒラギノ角ゴ pro w3, ヒラギノ角ゴ pron w3, hiragino kaku gothic pron, メイリオ, Meiryo, Osaka, ms pgothic, helvetica neue, Helvetica, Arial, sans-serif;
    color: #2e3338
}

a {
    text-decoration: none;
    color: #3498db
}

#header-menu-opener {
    display: none
}

a:visited {
    color: #9b59b6
}

.page-title {
    font-size: 10vmin;
    margin-bottom: 0;
    text-align: center
}

#content {
    position: absolute;
    padding-top: 128px;
    padding-bottom: 128px;
    width: 100%;
    min-height: 100vh;
    left: 0;
    box-sizing: border-box;
    top: 0
}

.light {
    color: #68727f
}

.big-button {
    color: #fff!important;
    line-height: 40px;
    height: 40px;
    padding: 4px 8px;
    border-radius: 4px;
    box-sizing: border-box;
    color: #fff;
    font-weight: 600;
    position: relative;
    height: 48px;
    line-height: 48px;
    font-size: 24px;
    background-color: #7289da;
    transition: background-color ease-out .25s
}

.big-button:hover {
    background-color: #677bc4
}

.big-button a {
    color: #fff
}

.centerp {
    width: 60%;
    margin: auto
}

.bold {
    font-weight: 700
}

.inline-code {
    width: auto;
    height: auto;
    padding: .2em;
    margin: -.2em 0;
    border-radius: 3px;
    font-size: 85%;
    font-family: Consolas, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Monaco, Courier New, Courier, monospace;
    text-indent: 0;
    border: none;
    white-space: pre-wrap;
    background: #f2f3f5
}

.hljs,
.hljs * {
    font-family: Consolas, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Monaco, Courier New, Courier, monospace;
    background: #f2f3f5!important
}

.hljs {
    border: 1px solid #e3e5e8;
    border-radius: 4px
}

.inline-code2 {
    background: #e3e5e8!important
}

.underline {
    text-decoration: underline
}

.codeblock {
    font-size: .875rem;
    line-height: 1.125rem;
    border: none;
    border-radius: 4px;
    font-family: Consolas, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Monaco, Courier New, Courier, monospace;
    background: #e8eaed!important;
    padding: .5em
}

#google-alert {
    display: none;
    position: fixed;
    left: 20px;
    bottom: 20px;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    z-index: 1000
}

.tooltip-main {
    border-radius: 5px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    max-width: 190px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    z-index: 1002;
    will-change: opacity, transform
}

.tooltip {
    position: absolute;
    transform: translate(-50%, calc(-100% - 5px))
}

.tooltip-bottom {
    width: 0;
    height: 0;
    border: 5px solid transparent;
    position: absolute;
    left: 50%;
    top: 100%
}

.tooltip-main {
    padding: 8px 12px;
    overflow: hidden
}

.tooltip-main {
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%
}

.green {
    --tooltip-bg-color: #43b581
}

.tooltip-main {
    background-color: var(--tooltip-bg-color)
}

.tooltip-main div {
    color: #f6fbf9
}

.tooltip-bottom {
    border-top-color: var(--tooltip-bg-color)
}