#tnana-main {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: calc(60vh - var(--header-height))
}

#license {
  position: relative;
  width: 100%;
}

.license-header {
  text-align: center;
}

.quote {
  border-left: 4px solid var(--interactive-muted);
  padding-left: 8px;
  color: var(--interative-muted);
}